<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
    <title>Blog dhanasekar</title>
  </head>
  <body align=center>
    <div class="ui secondary pointing menu">
      <div class="ui container">

        <div >
          <i class='chess'></i>
          Blog Site
        </div>
        <a href="/" class='item'>HOME</a>
        <a href="/blog/new" class='item'>New Post</a>

      </div>
    </div>
